<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" >Go Vote</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a  routerLink="/candidate" routerLinkActive="active"><span class="glyphicon glyphicon-comment"></span> Candidates</a></li>
        <li ><a  routerLink="/user" routerLinkActive="active"><span class="glyphicon glyphicon-book"></span> Users</a></li>
      </ul>
       <div class="nav navbar-right">
        <button type="button" (click)="logout()" class="btn btn-danger navbar-btn dropdown-toggle button-login" >Logout</button>
       </div>
    </div><!--/.nav-collapse -->
  </div>
</div>
<router-outlet></router-outlet>
<div class="container">
  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a> Go Votw</a></p>
    <p>© 2019 · <a >Monika Mathur</a></p>
  </footer>

</div><!-- /.container -->