<nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm p-3 mb-5 bg-white rounded" id="mainNav">
   <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav shadow-sm p-3 mb-5 bg-white rounded">

        <a class="nav-link navlogo text-center" href="index.php">
          <img src="assets/img/logoVote.png">
        </a>

      <li class="nav-item">
        <a class="nav-link sidefrst" href="index.php">
          <span class="textside">Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link sidesecnd" href="employee.php">
          <span class="textside">Candidates</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link sidesthrd" href="clients.php">
          <span class="textside">Vote</span>
        </a>
      </li>
    </ul>
    
    <ul class="navbar-nav2 ml-auto">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome WaLia</a>
          <ul class="dropdown-menu">
              <li class="resflset"><a ><i class="fa fa-fw fa-cog"></i> Edit profile</a></li>
              <li class="divider"></li>
              <li class="resflset"><a ><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
          </ul>
      </li>
    </ul>
    
  </div>
</nav>

<div class="content-wrapper">
<router-outlet></router-outlet>
</div>