/* You can add global styles to this file, and also import other style files */
body{
  background-image:url(https://static.pexels.com/photos/371633/pexels-photo-371633.jpeg);
  background-repeat:no-repeat;
  background-size: 100%;
}